# Based upon:
#   https://github.com/actions/starter-workflows/blob/main/ci/go.yml

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.17, 1.18]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - name: Download Packages
        run: go get -t -v ./ably/...

      - name: Vet
        run: go vet ./ably/... ./scripts/...

      - name: Ensure generated code is up-to-date
        run: scripts/ci-generate.sh

      - name: Install go-junit-report
        run: go install github.com/jstemmer/go-junit-report@latest

      - name: Unit Tests
        run: |
          set -o pipefail
          go test -v -tags=unit ./... |& tee >(~/go/bin/go-junit-report > unit.junit)

      - name: Integration Tests with JSON Protocol
        run: |
          set -o pipefail
          scripts/test.sh --protocol application/json |& tee >(~/go/bin/go-junit-report > json-integration.junit)

      # We explicitly do this clean between test runs in preference to specifying the slightly opaque `-count=1`
      # argument to subsequent test run executions.
      - name: Clean Test Cache
        run: go clean -testcache

      - name: Integration Tests with MessagePack Protocol
        run: |
          set -o pipefail
          scripts/test.sh --protocol application/x-msgpack |& tee >(~/go/bin/go-junit-report > msgpack-integration.junit)

      - name: Upload test results
        if: always()
        uses: ably-labs/test-observability-action@main
        with:
          server-url: 'https://test-observability.herokuapp.com'
          server-auth: ${{ secrets.TEST_OBSERVABLILITY_SERVER_AUTH }}
          path: '.'
